.chat-c{
  max-height: 450px;
  overflow-x: hidden;
  overflow-y: auto;
  /* background-color: rgb(250, 250, 250); */
}

.comment-card{
  width: 100% !important;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-thumb {
  /* background-color: #ccc; */
  border-radius: 5px;
}

::-webkit-scrollbar-track {
  /* background-color: #f1f1f1; */
  border-radius: 5px;
}