.chat-c{
  max-height: 450px;
  overflow-x: hidden;
  overflow-y: auto;
}

.comment-card{
  width: 100% !important;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-thumb {
  border-radius: 5px;
}

::-webkit-scrollbar-track {
  border-radius: 5px;
}