<app-sidenav>
  <div class="container" *ngIf="neededData$ | async">
    <div class="row align-items-stretch py-4 px-2 gy-2">
      <div class="col-lg-4">
        <div class="profile-container bg-white rounded p-3">
          <div class="image-wrapper text-center">
            <img
              src="{{
                'http://127.0.0.1:8000/api/profiles/images/' +
                  (user.profile?.profile_pic || 'no-image.jpg')
              }}"
              style="width: 150px; height: 150px"
              class="img-fluid rounded-circle"
              alt="..."
            />
          </div>
          <div class="name-wrapper text-center">
            <h2>{{ user.profile?.name || "name hasn't been set" }}</h2>
          </div>
          <hr />
          <div class="text-center">
            <span
              >Status:
              <span class="text-success">
                Selected as {{ user.role | titlecase }}
                <span *ngIf="user?.department_id"
                  >({{ user.department?.department_code }})</span
                >
              </span>
            </span>
          </div>
        </div>
      </div>
      <div class="col-lg-8">
        <div class="profile-container bg-white rounded p-3">
          <mat-tab-group>
            <mat-tab label="Profile">
              <form
                class="mt-3"
                [formGroup]="profileForm"
                (submit)="submit()"
                id="profileForms"
              >
                <div
                  class="alert alert-success"
                  role="alert"
                  *ngIf="messageProfileSuccess$ | async as message"
                >
                  {{ message }}
                </div>
                <div
                  class="alert alert-danger"
                  role="alert"
                  *ngIf="messageProfileError$ | async as message"
                >
                  {{ message }}
                </div>
                <mat-form-field class="example-full-width">
                  <mat-label>Name</mat-label>
                  <input matInput placeholder="Name" formControlName="name" />
                </mat-form-field>
                <div>
                  <mat-form-field class="example-full-width">
                    <mat-label>Birth Date</mat-label>
                    <input
                      matInput
                      placeholder="Birth Date"
                      name="birthDate"
                      formControlName="birthDate"
                    />
                  </mat-form-field>
                </div>
                <div>
                  <mat-form-field class="example-full-width">
                    <mat-label>Address</mat-label>
                    <input
                      matInput
                      placeholder="Address"
                      name="name"
                      formControlName="address"
                    />
                  </mat-form-field>
                </div>
                <div>
                  <mat-form-field class="example-full-width">
                    <mat-label>Phone Number</mat-label>
                    <input
                      matInput
                      placeholder="Phone Number"
                      name="name"
                      formControlName="phoneNo"
                    />
                  </mat-form-field>
                </div>
              </form>
              <div class="buttons">
                <button
                  mat-flat-button
                  color="primary"
                  class="me-2"
                  (click)="clickEditProfile()"
                  *ngIf="disableChangeProfile"
                >
                  <mat-icon>edit</mat-icon>
                  Edit
                </button>
                <button
                  mat-flat-button
                  color="primary"
                  class="me-2"
                  form="profileForms"
                  *ngIf="!disableChangeProfile"
                >
                  <mat-icon>save</mat-icon>
                  Save
                </button>
                <button
                  mat-flat-button
                  color="primary"
                  class="me-2"
                  *ngIf="!disableChangeProfile"
                  (click)="clickEditProfile()"
                >
                  <mat-icon>cancel</mat-icon>

                  Cancel
                </button>
              </div>
            </mat-tab>
            <mat-tab label="Change Profile Picture">
              <div class="text-center mt-4" *ngIf="!user.profile">
                <h3>
                  Your profile has not been set up yet. Set up your profile
                  first before adding a Profile picture.
                </h3>
              </div>
              <form
                #imageUploadForm="ngForm"
                (ngSubmit)="onUpload()"
                enctype="multipart/form-data"
                class="p-4"
                *ngIf="user.profile"
              >
                <div
                  class="alert alert-success"
                  role="alert"
                  *ngIf="messagePicSuccess$ | async as message"
                >
                  {{ message }}
                </div>
                <div
                  class="alert alert-danger"
                  role="alert"
                  *ngIf="messagePicError$ | async as message"
                >
                  {{ message }}
                </div>
                <input
                  type="file"
                  name="image"
                  (change)="onFileSelected($event)"
                  required
                  class="form-control mb-2"
                />
                <button type="submit" mat-flat-button color="primary">
                  <mat-icon>upload</mat-icon>
                  Upload
                </button>
              </form>
            </mat-tab>
            <mat-tab label="Change Password">
              <form
                class="mt-3"
                id="updatePassword"
                #changePassForm="ngForm"
                (submit)="changePass(changePassForm)"
              >
                <div
                  class="alert alert-success"
                  role="alert"
                  *ngIf="messagePassSuccess$ | async as message"
                >
                  {{ message }}
                </div>
                <div
                  class="alert alert-danger"
                  role="alert"
                  *ngIf="messagePassError$ | async as message"
                >
                  {{ message }}
                </div>
                <mat-form-field class="example-full-width">
                  <mat-label>Current Password</mat-label>
                  <input
                    matInput
                    type="password"
                    placeholder="Current Password"
                    name="currentPassword"
                    [disabled]="disableChangePass"
                    [(ngModel)]="passwords.currentPassword"
                  />
                </mat-form-field>
                <div>
                  <mat-form-field class="example-full-width">
                    <mat-label>New Password</mat-label>
                    <input
                      matInput
                      placeholder="New Password"
                      type="password"
                      name="password"
                      [disabled]="disableChangePass"
                      [(ngModel)]="passwords.password"
                    />
                  </mat-form-field>
                </div>
                <div>
                  <mat-form-field class="example-full-width">
                    <mat-label>Confirm new Passowrd</mat-label>
                    <input
                      matInput
                      placeholder="Confirm new Passowrd"
                      type="password"
                      name="password_confirmation"
                      [disabled]="disableChangePass"
                      [(ngModel)]="passwords.password_confirmation"
                    />
                  </mat-form-field>
                </div>
              </form>
              <div class="buttons">
                <button
                  mat-flat-button
                  color="primary"
                  class="me-2"
                  *ngIf="disableChangePass"
                  (click)="clickEditPass()"
                >
                  <mat-icon>edit</mat-icon>
                  Edit
                </button>
                <button
                  mat-flat-button
                  color="primary"
                  class="me-2"
                  form="updatePassword"
                  *ngIf="!disableChangePass"
                >
                  <mat-icon>save</mat-icon>
                  Save
                </button>
                <button
                  mat-flat-button
                  color="primary"
                  class="me-2"
                  *ngIf="!disableChangePass"
                  (click)="clickEditPass()"
                >
                  <mat-icon>cancel</mat-icon>

                  Cancel
                </button>
              </div>
            </mat-tab>
          </mat-tab-group>
        </div>
      </div>
    </div>
  </div>
  <div class="d-flex" *ngIf="isLoading">
    <app-spinner class="mx-auto"></app-spinner>
  </div>
  <app-reload-page *ngIf="error && !isLoading"></app-reload-page>
</app-sidenav>
