.logo{
  width:30px;
}
.navbar{
  height: 80px;
  background-color: #D05834;
}
span{
  font-family: 'century gothic';
  font-weight: 100;
  color: white;
}
.active {
  background-color: #eee;
}
b{
  font-weight: bold;
}
.example-container {
  width: 500px;
  height: 300px;
  border: 1px solid rgba(0, 0, 0, 0.5);
}

.example-sidenav-content {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.example-sidenav {
  width: auto;
  height: 100vh;
  position: fixed;
}
.pic{
  
  /* border-radius: 5rem; */
  width: 50px;
  height: 50px;
  /* background-color: black; */
   /* background-image: url('assets/logo-cict.png');  */
}

#toolbar{
    position: sticky !important; 
    position: -webkit-sticky;
    top: 0; 
    z-index: 1000; 
}