<div class="bg">
  <div class="container">
    <div class="h-100 d-flex align-items-center justify-content-center">
      <div>
        <img src="assets/bulsu.png" class="logos" />
        <img src="assets/logo-cict.png" class="logos"/>
        <h3>
          CICT<span>
            Curriculum<br />
            Management System</span
          >
        </h3>

        <!--Form for Credentials-->
        <form
          class="pt-2"
          #loginForm="ngForm"
          (ngSubmit)="checkCredentials(loginForm)"
          id="loginForm"
        >
          <input
            class="inputs"
            placeholder="Email"
            name="email"
            [(ngModel)]="credentials.email"
          />
          <input
            class="inputs mt-3"
            placeholder="Password"
            name="password"
            [(ngModel)]="credentials.password"
          />
        </form>

        <!--Invalid Credentials String-->
        <div *ngIf="error | async as errorMessage" class="mt-2 text-danger">
          {{ errorMessage }}
        </div>

        <!--Login Btn-->
        <button class="button mt-4" type="submit" form="loginForm">
          Login
        </button>

        <!--Forgot Password-->
        <!-- <a
          href=""
          class="text-danger float-right"
          style="margin-left: 120px"
          [routerLink]="['/forgot-password']"
          >Forgot Password?</a
        > -->

        <button
        mat-button
        class="text-danger float-right"
        style="margin-left: 120px"
        (click)="openForgotPass()"
        >Forgot Password?</button
      >

      </div>
    </div>
  </div>
</div>
