<app-sidenav>
  <div class="container mt-4">
    <header class="d-flex align-items-center justify-content-between">
      <p class="h5">Subjects</p>
      <mat-form-field style="width: 200px" class="example-form-field">
        <mat-label><mat-icon>search</mat-icon>Search</mat-label>
        <input matInput type="text" [(ngModel)]="listFilter" />

        <!-- <button *ngIf="value" matSuffix mat-icon-button aria-label="Clear" (click)="value=''">
                  <mat-icon>clear</mat-icon>
              </button> -->
      </mat-form-field>
      <button mat-flat-button color="primary" (click)="openDialog()">
        New Subject
      </button>
    </header>

    <!-- <div *ngIf="subjects$ | async as subjects">
      <table mat-table [dataSource]="subjects" class="mat-elevation-z8">
        <ng-container matColumnDef="subjectCode">
          <th mat-header-cell *matHeaderCellDef>Subject Code</th>
          <td mat-cell *matCellDef="let element">
            {{ element?.subject_code }}
          </td>
        </ng-container>

        <ng-container matColumnDef="description">
          <th mat-header-cell *matHeaderCellDef>Description</th>
          <td mat-cell *matCellDef="let element">{{ element.description }}</td>
        </ng-container>

        <ng-container matColumnDef="department">
          <th mat-header-cell *matHeaderCellDef>Department</th>
          <td mat-cell *matCellDef="let element">
            {{ (element?.department?.department_code | uppercase) || "N/A" }}
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>
    </div> -->

    <!-- <table>
        <ng-container matColumnDef="subjectCode">
          <th mat-header-cell *matHeaderCellDef>Subject Code</th>
          <td mat-cell *matCellDef="let element">
            {{ element?.subject_code }}
          </td>
        </ng-container>

        <ng-container matColumnDef="description">
          <th mat-header-cell *matHeaderCellDef>Description</th>
          <td mat-cell *matCellDef="let element">{{ element.description }}</td>
        </ng-container>

        <ng-container matColumnDef="department">
          <th mat-header-cell *matHeaderCellDef>Department</th>
          <td mat-cell *matCellDef="let element">
            {{ (element?.department?.department_code | uppercase) || "N/A" }}
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table> -->

    <div class="mt-4">
      <table class="table">
        <thead class="thead-dark">
          <tr>
            <th scope="col">
              Subject Code
              <button mat-icon-button (click)="sort('subject_code')">
                <mat-icon>unfold_more</mat-icon>
              </button>
            </th>
            <th scope="col">
              Description
              <button mat-icon-button (click)="sort('description')">
                <mat-icon>unfold_more</mat-icon>
              </button>
            </th>
            <th scope="col">
              Status
              <button mat-icon-button (click)="sort('status')">
                <mat-icon>unfold_more</mat-icon>
              </button>
            </th>
            <th scope="col">
              Department
              <button mat-icon-button (click)="sort('description')">
                <mat-icon>unfold_more</mat-icon>
              </button>
            </th>
            <th scope="col">Syllabus</th>
            <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody>
          <tr
            *ngFor="
              let subject of displayedItems
                | orderBy : currentSortColumn : currentSortDirection
            "
          >
            <th scope="row">{{ subject.subject_code }}</th>
            <td>{{ subject.description }}</td>
            <td>{{ subject.status == "a" ? "Active" : "Inactive" }}</td>
            <td>{{ subject?.department?.department_code | uppercase }}</td>
            <td>
              <button
                mat-icon-button
                color="primary"
                (click)="viewPdf(subject.syllabus_path)"
              >
                <mat-icon>remove_red_eye</mat-icon>
              </button>
            </td>
            <td>
              <!-- <button mat-icon-button color="pri" (click)="editSubjet(dsubject)"><mat-icon>edit</mat-icon></button> -->
              <button
                *ngIf="subject.status == 'a'"
                mat-icon-button
                color="primary"
                (click)="removeSubject(subject.id)"
              >
                <mat-icon>delete_forever</mat-icon>
              </button>

              <button
                *ngIf="subject.status == 'i'"
                mat-icon-button
                color="primary"
                (click)="restoreSubject(subject.id)"
              >
                <mat-icon>restore</mat-icon>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
      <mat-paginator
        [length]="totalItems"
        [pageSize]="pageSize"
        [pageSizeOptions]="pageSizeOptions"
        (page)="onPageChange($event)"
      >
      </mat-paginator>
    </div>
  </div>
</app-sidenav>

<ng-template #dialogEditContent>
  <!-- <form #editForm="ngForm" (ngSubmit)="">
    <div class="form-group">
      <label for="subject_code">Subject Code:</label>
      <input type="text" class="form-control" id="subject_code" name="subject_code" [(ngModel)]="" required>
    </div>
    <div class="form-group">
      <label for="description">Description:</label>
      <input type="text" class="form-control" id="description" name="description" [(ngModel)]="" required>
    </div>
    <div class="form-group">
      <label for="status">Status:</label>
      <input type="text" class="form-control" id="status" name="status" [(ngModel)]="" required>
    </div>
    <div class="form-group">
      <label for="department">Department:</label>
      <input type="text" class="form-control" id="department" name="department" [(ngModel)]="" required>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form> -->
</ng-template>
