<app-sidenav>
  <div class="container mt-4" *ngIf="neededData$ | async">
    <header class="d-flex align-items-center justify-content-between">
      <p class="h5">Subjects</p>
      <mat-form-field style="width: 200px" class="example-form-field">
        <mat-label><mat-icon>search</mat-icon>Search</mat-label>
        <input matInput type="text" [(ngModel)]="listFilter" />

        <!-- <button *ngIf="value" matSuffix mat-icon-button aria-label="Clear" (click)="value=''">
                  <mat-icon>clear</mat-icon>
              </button> -->
      </mat-form-field>
      <button
        mat-flat-button
        color="primary"
        (click)="openDialog()"
        *ngIf="role == 'admin' || role == 'reviewer' || role == 'faculty'"
      >
        <mat-icon>add</mat-icon>
        Add Subject
      </button>
    </header>

    <div class="mt-4">
      <table class="table">
        <thead class="thead-dark">
          <tr>
            <th scope="col">
              Subject Code
              <button mat-icon-button (click)="sort('subject_code')">
                <mat-icon>unfold_more</mat-icon>
              </button>
            </th>
            <th scope="col">
              Description
              <button mat-icon-button (click)="sort('description')">
                <mat-icon>unfold_more</mat-icon>
              </button>
            </th>
            <th scope="col">
              Status
              <button mat-icon-button (click)="sort('status')">
                <mat-icon>unfold_more</mat-icon>
              </button>
            </th>
            <th scope="col">
              Department
              <button mat-icon-button (click)="sort('description')">
                <mat-icon>unfold_more</mat-icon>
              </button>
            </th>
            <th scope="col">Syllabus</th>
            <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody>
          <tr
            *ngFor="
              let subject of displayedItems
                | orderBy : currentSortColumn : currentSortDirection
            "
          >
            <th scope="row">{{ subject.subject_code }}</th>
            <td>{{ subject.description }}</td>
            <td>{{ subject.status == "a" ? "Active" : "Inactive" }}</td>
            <td>{{ subject?.department?.department_code | uppercase }}</td>
            <td>
              <button
                mat-icon-button
                color="primary"
                (click)="viewPdf(subject.syllabus_path)"
              >
                <mat-icon>remove_red_eye</mat-icon>
              </button>
            </td>
            <td>
              <!-- <button mat-icon-button color="pri" (click)="editSubjet(dsubject)"><mat-icon>edit</mat-icon></button> -->
              <button
                *ngIf="subject.status == 'a'"
                mat-icon-button
                color="primary"
                (click)="removeSubject(subject.id)"
              >
                <mat-icon>delete_forever</mat-icon>
              </button>

              <button
                *ngIf="subject.status == 'i'"
                mat-icon-button
                color="primary"
                (click)="restoreSubject(subject.id)"
              >
                <mat-icon>restore</mat-icon>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
      <mat-paginator
        [length]="totalItems"
        [pageSize]="pageSize"
        [pageSizeOptions]="pageSizeOptions"
        (page)="onPageChange($event)"
      >
      </mat-paginator>
    </div>

    <table class="table">
      <thead>
        <tr>
          <td>#</td>
          <td *ngFor="let electiveSubject of electiveSubjects; let x = index">
            {{ electiveSubject.track }}
            <button mat-icon-button color="primary">
              <mat-icon>edit</mat-icon>
            </button>
          </td>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let i of [1, 2, 3, 4, 5]">
          <td>Elective {{ i }}</td>
          <td *ngFor="let electiveSubject of electiveSubjects; let x = index">
            <span>{{ electiveSubject.description[i - 1] }}</span>
            <input type="text" [value]="electiveSubject.description[i - 1]" />
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <app-spinner *ngIf="isLoading"></app-spinner>
  <app-reload-page *ngIf="!isLoading && error"></app-reload-page>
</app-sidenav>

<ng-template #dialogEditContent>
  <!-- <form #editForm="ngForm" (ngSubmit)="">
    <div class="form-group">
      <label for="subject_code">Subject Code:</label>
      <input type="text" class="form-control" id="subject_code" name="subject_code" [(ngModel)]="" required>
    </div>
    <div class="form-group">
      <label for="description">Description:</label>
      <input type="text" class="form-control" id="description" name="description" [(ngModel)]="" required>
    </div>
    <div class="form-group">
      <label for="status">Status:</label>
      <input type="text" class="form-control" id="status" name="status" [(ngModel)]="" required>
    </div>
    <div class="form-group">
      <label for="department">Department:</label>
      <input type="text" class="form-control" id="department" name="department" [(ngModel)]="" required>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form> -->
</ng-template>
