<mat-toolbar color="primary" class="toolbar">
  <mat-toolbar-row>
    <button mat-icon-button (click)="toggleNavBarIcon()">
      <mat-icon>{{ toggleBtnNavBar }}</mat-icon>
    </button>
    <span class="d-flex align-items-center">
      <div
        class="rounded-circle me-1"
        style="
      width: 45px;
      height: 45px;
      background-image: url('{{
          'http://127.0.0.1:8000/api/content/logo/' + (logo || 'assets/logo-cict.png')
        }}');
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      "
      ></div>
      <b> CICT</b> {{ title }}
    </span>
    <span class="example-spacer"></span>
  </mat-toolbar-row>
</mat-toolbar>
