<div class="container p-4" style="border-radius:1rem;">
  <header><h2>Forgot Password?</h2></header>
  <label>Please enter your email to recover your account.</label>
  <div style="filter: contrast(150%);">
  <form
    #form="ngForm"
    (ngSubmit)="sendEmail(form)"
    class="shadow-sm rounded p-4"
  >
    <mat-form-field class="example-full-width">
      <mat-label>Email</mat-label>
      <input
        matInput
        type="email"
        placeholder="email"
        name="email"
        [(ngModel)]="email"
      />
    </mat-form-field>
    <br />
    <button mat-flat-button color="primary" class="mb-2">
      <mat-icon>email</mat-icon>
      Send Email
    </button>
    <app-notification
      *ngIf="error$ | async as errorMessage"
      [message]="errorMessage"
      type="error"
      (close)="closeAlert()"
    >
    </app-notification>
    <app-notification
      *ngIf="success$ | async as message"
      [message]="message"
      type="success"
      (close)="closeSuccessAlert()"
    >
    </app-notification>
  </form>
</div>
  <!-- <a [routerLink]="['/', 'login']">back to login</a> -->
</div>
