<div class="container text-center">
  <div class="">
    <span class="" style="font-size: 4rem; font-weight: 600">403</span>
  </div>
  <div class="mb-4">
    <span class="" style="font-size: 1.5rem; font-weight: 550"
      >Access Denied</span
    >
  </div>
  <div class="fs-6">
    <div class="my-2">
      Sorry, but you don't have a permission to access this page.
    </div>
    <div>
      You can go back to
      <span
        routerlink="/dashboard"
        class="text-primary fw-bold"
        style="cursor: pointer"
        >Dashboard</span
      >
    </div>
  </div>
</div>
