<div class="container" *ngIf="(curriculum$ | async) && (currentUser$ | async)">
  <div class="row">
    <div class="col-xl-9">
      <app-year-dropdown
        [subject]="subjects"
        [type]="type"
        [title]="title"
        [curriculum]="curriculum"
        [action]="action"
        [status]="status"
        [author]="author"
        [role]="role"
        [canEdit]="canEdit()"
        [created_at]="created_at"
        (editCur)="edit()"
        (approveCur)="approve()"
      ></app-year-dropdown>
    </div>
    <div class="col-xl-3">
      <app-comments
        [type]="type"
        [role]="role"
        [comments]="comments"
        (addComment)="addComment($event)"
      ></app-comments>
    </div>
  </div>
</div>
