<div style="width:95%; height:750px; margin:auto;" *ngIf="neededData$ | async">
  <div class="row">
    <div class="col-xl-9">
      <app-year-dropdown
        [subject]="subjects"
        [type]="type"
        [title]="title"
        [curriculum]="curriculum"
        [action]="action"
        [status]="status"
        [author]="author"
        [role]="role"
        [canEdit]="canEdit()"
        [created_at]="created_at"
        (editCur)="edit()"
        (approveCur)="approve()"
      ></app-year-dropdown>
    </div>
    <div class="col-xl-3">
      <app-comments
        [type]="type"
        [role]="role"
        [comments]="comments"
        (addComment)="addComment($event)"
      ></app-comments>
    </div>
  </div>
</div>
<div class="d-flex" *ngIf="isLoading">
  <app-spinner class="mx-auto"></app-spinner>
</div>
<app-reload-page *ngIf="error && !isLoading"></app-reload-page>
