<div class="container">
  <div class="inside">
    <div class="this-element">
      <span class="title">CICT Curriculum ver. 3.2.1 (CICT)</span>
      <div class="status bg-success" style="margin-left: 30px; margin-right: 20px">
        For Revision
      </div>
      <div class="status bg-warning">For Revision</div>
    </div>
    <button mat-raised-button color="primary" style="float: right; right: 230px">
      Print <mat-icon>printer</mat-icon>
    </button>
    <h3>Kervin Robby Pagtalunan</h3>
    <h3>10-20-25</h3>

  </div>
  <!-- Input table para sa edit at add -->
  <table class="table">
    <thead>
      <th></th>
      <tr>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
      </tr>
      <th *ngIf="addForm" class="thead-dark">Add Subject</th>
      <tr *ngIf="addForm">
        <th colspan="8">
          <form #firstSemesterForm="ngForm" (ngSubmit)="addSubject(firstSemesterForm)">
            <mat-form-field class="subject-input" style="width: 80px;"><input name="courseCode" matInput type="text"
                placeholder="Course Code" ngModel required /></mat-form-field>
            <mat-form-field class="subject-input" style="width: 140px;"><input name="descriptiveTitle" matInput
                type="text" placeholder="Descriptive Title" ngModel required /></mat-form-field>

            <mat-form-field class="subject-input" style="width: 60px;"><input name="lecUnits" matInput type="text"
                placeholder="Lec Units" ngModel required /></mat-form-field>

            <mat-form-field class="subject-input" style="width: 60px;"><input name="labUnits" matInput type="text"
                placeholder="Lab Units" ngModel required /></mat-form-field>

            <mat-form-field class="subject-input" style="width: 60px;"><input name="totalUnits" matInput type="text"
                placeholder="Total Units" ngModel required /></mat-form-field>

            <mat-form-field class="subject-input" style="width: 90px;"><input name="hoursPerWeek" matInput type="text"
                placeholder="Hours Per Week" ngModel required /></mat-form-field>

            <mat-form-field class="subject-input" style="width: 80px;"><input name="preReq" matInput type="text"
                placeholder="Pre-Requisites" ngModel required /></mat-form-field>

            <mat-form-field class="subject-input" style="width: 80px;"><input name="coReq" matInput type="text"
                placeholder="Co-Requisites" ngModel required /></mat-form-field>

            <mat-form-field class="subject-input" style="width: 60px;"><input name="semester" matInput type="text"
                placeholder="Semester" ngModel required /></mat-form-field>

            <mat-form-field class="subject-input" style="width: 60px;"><input name="year" matInput type="text"
                placeholder="Year" ngModel required /></mat-form-field>



            <button mat-icon-button color="primary" [title]="includeSubjectText" type="submit" (click)="refreshTable()">
              <mat-icon>check</mat-icon>
            </button>
            <button mat-icon-button color="primary" (click)="clearValues()" (click)="canceladd()" (click)="refreshTable()"
              [title]="cancelAddSubject" type="button">
              <mat-icon>close</mat-icon>
            </button>
          </form>
        </th>


      </tr>
      <th *ngIf="selectedSubject" class="thead-dark">Edit Subject</th>
      <tr *ngIf="selectedSubject">
        <th colspan="9">
          <form #editForm="ngForm" (ngSubmit)="updateSubject()">
            <mat-form-field class="subject-input" style="width: 80px;"><input name="courseCode" matInput type="text"
                placeholder="Course Code" [(ngModel)]="selectedSubject.courseCode" required /></mat-form-field>

            <mat-form-field class="subject-input" style="width: 140px;"><input name="descriptiveTitle" matInput
                type="text" placeholder="Descriptive Title" [(ngModel)]="selectedSubject.descriptiveTitle"
                required /></mat-form-field>

            <mat-form-field class="subject-input" style="width: 60px;"><input name="lecUnits" matInput type="text"
                placeholder="Lec Units" [(ngModel)]="selectedSubject.lecUnits" required /></mat-form-field>

            <mat-form-field class="subject-input" style="width: 60px;"><input name="labUnits" matInput type="text"
                placeholder="Lab Units" [(ngModel)]="selectedSubject.labUnits" required /></mat-form-field>

            <mat-form-field class="subject-input" style="width: 60px;"><input name="totalUnits" matInput type="text"
                placeholder="Total Units" [(ngModel)]="selectedSubject.totalUnits" required /></mat-form-field>

            <mat-form-field class="subject-input" style="width: 90px;"><input name="hoursPerWeek" matInput type="text"
                placeholder="Hours Per Week" [(ngModel)]="selectedSubject.hoursPerWeek" required /></mat-form-field>

            <mat-form-field class="subject-input" style="width: 80px;"><input name="preReq" matInput type="text"
                placeholder="Pre-Requisites" [(ngModel)]="selectedSubject.preReq" required /></mat-form-field>

            <mat-form-field class="subject-input" style="width: 80px;"><input name="coReq" matInput type="text"
                placeholder="Co-Requisites" [(ngModel)]="selectedSubject.coReq" required /></mat-form-field>

            <mat-form-field class="subject-input" style="width: 60px;"><input name="semester" matInput type="text"
                placeholder="Semester" [(ngModel)]="selectedSubject.semester" required /></mat-form-field>

            <mat-form-field class="subject-input" style="width: 60px;"><input name="year" matInput type="text"
                placeholder="Year" [(ngModel)]="selectedSubject.year" required /></mat-form-field>

            <button mat-icon-button color="primary" [title]="includeSubjectText" type="submit" (click)="refreshTable()">
              <mat-icon>check</mat-icon>
            </button>
            <button mat-icon-button color="primary" (click)="cancel()" [title]="cancelAddSubject" type="button" (click)="refreshTable()">
              <mat-icon>close</mat-icon>
            </button>
          </form>
        </th>
      </tr>
    </thead>
  </table>
  <!-- Input table para sa edit at add ends here-->

  <div class="bottom">
    <mat-accordion>
      <!-- First Year -->
      <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
        <mat-expansion-panel-header style="background-color: #c0c0c0">
          <mat-panel-title class="panel-text"> First Year </mat-panel-title>
        </mat-expansion-panel-header>
        <button class="mb-2 mt-2" mat-raised-button color="primary" (click)="add()">
          Add Subject<mat-icon>add</mat-icon>
        </button>

        <!-- Dito yung 1st year 1st sem sem table -->
        <table class="table" *ngIf="showTable">
          <thead class="thead-dark">
            <th class="thead-dark">First Semester</th>
            <tr>
              <th scope="col">Course Code</th>
              <th scope="col">Descriptive Title</th>
              <th scope="col">Lec Units</th>
              <th scope="col">Lab Units</th>
              <th scope="col">Total Units</th>
              <th scope="col">Hours Per Week</th>
              <th scope="col">Pre-Req</th>
              <th scope="col">Co-Req</th>
              <th scope="col">Actions</th>
            </tr>
          </thead>

          <!-- For loop ng 1st year 1st sem container -->
          <tbody>
            <tr *ngFor="
                let subjects of firstSem| semyearFilter: '1st' : '1st'; let i = index;" [attr.data-index]="i">
              <th scope="row">{{ subjects.courseCode }}</th>
              <td>{{ subjects.descriptiveTitle }}</td>
              <td>{{ subjects.lecUnits }}</td>
              <td>{{ subjects.labUnits }}</td>
              <td>{{ subjects.totalUnits }}</td>
              <td>{{ subjects.hoursPerWeek }}</td>
              <td>{{ subjects.preReq }}</td>
              <td>{{ subjects.coReq }}</td>
              <td>
                <button mat-icon-button color="primary" [title]="view">
                  <mat-icon>remove_red_eye</mat-icon>
                </button>
                <button mat-icon-button color="primary" [title]="edit" (click)="isEditing(subjects)">
                  <mat-icon>edit</mat-icon>
                </button>
                <button mat-icon-button color="primary" [title]="del" (click)="deleteSubject(i)">
                  <mat-icon>delete_forever</mat-icon>
                </button>
              </td>
            </tr>
          </tbody>
          <!-- hanggang dito For loop ng 1st 1st sem container -->
          <thead class="thead-dark">
            <th class="thead-dark">Second Semester</th>
            <tr>
              <th scope="col">Course Code</th>
              <th scope="col">Descriptive Title</th>
              <th scope="col">Lec Units</th>
              <th scope="col">Lab Units</th>
              <th scope="col">Total Units</th>
              <th scope="col">Hours Per Week</th>
              <th scope="col">Pre-Req</th>
              <th scope="col">Co-Req</th>
              <th scope="col">Actions</th>
            </tr>
          </thead>

          <!-- For loop ng 1st year 2nd sem container -->
          <tbody>
            <tr *ngFor="
                let subjects of firstSem | semyearFilter:'1st':'2nd';
                let i = index
              " [attr.data-index]="i">
              <th scope="row">{{ subjects.courseCode }}</th>
              <td>{{ subjects.descriptiveTitle }}</td>
              <td>{{ subjects.lecUnits }}</td>
              <td>{{ subjects.labUnits }}</td>
              <td>{{ subjects.totalUnits }}</td>
              <td>{{ subjects.hoursPerWeek }}</td>
              <td>{{ subjects.preReq }}</td>
              <td>{{ subjects.coReq }}</td>
              <td>
                <button mat-icon-button color="primary" [title]="view">
                  <mat-icon>remove_red_eye</mat-icon>
                </button>
                <button mat-icon-button color="primary" [title]="edit" (click)="isEditing(subjects)">
                  <mat-icon>edit</mat-icon>
                </button>
                <button mat-icon-button color="primary" [title]="del" (click)="deleteSubject(i)">
                  <mat-icon>delete_forever</mat-icon>
                </button>
              </td>
            </tr>
          </tbody>
        </table>
        <!-- Hanggang dito yung table -->
      </mat-expansion-panel>
      <!-- End of first Year Year -->

      <!-- 2nd Year -->
      <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
        <mat-expansion-panel-header style="background-color: #c0c0c0">
          <mat-panel-title class="panel-text"> Second Year </mat-panel-title>
        </mat-expansion-panel-header>
        <button class="mb-2 mt-2" mat-raised-button color="primary" (click)="add()">
          Add Subject<mat-icon>add</mat-icon>
        </button>

        <!-- Dito yung 2nd year 1st sem table -->
        <table class="table" *ngIf="showTable">
          <thead class="thead-dark">
            <th class="thead-dark">First Semester</th>
            <tr>
              <th scope="col">Course Code</th>
              <th scope="col">Descriptive Title</th>
              <th scope="col">Lec Units</th>
              <th scope="col">Lab Units</th>
              <th scope="col">Total Units</th>
              <th scope="col">Hours Per Week</th>
              <th scope="col">Pre-Req</th>
              <th scope="col">Co-Req</th>
              <th scope="col">Actions</th>
            </tr>
          </thead>

          <!-- For loop ng 2nd year 1st sem container -->
          <tbody>
            <tr *ngFor="
                let subjects of firstSem | semyearFilter:'2nd':'1st';
                let i = index
              " [attr.data-index]="i">
              <th scope="row">{{ subjects.courseCode }}</th>
              <td>{{ subjects.descriptiveTitle }}</td>
              <td>{{ subjects.lecUnits }}</td>
              <td>{{ subjects.labUnits }}</td>
              <td>{{ subjects.totalUnits }}</td>
              <td>{{ subjects.hoursPerWeek }}</td>
              <td>{{ subjects.preReq }}</td>
              <td>{{ subjects.coReq }}</td>
              <td>
                <button mat-icon-button color="primary" [title]="view">
                  <mat-icon>remove_red_eye</mat-icon>
                </button>
                <button mat-icon-button color="primary" [title]="edit" (click)="isEditing(subjects)">
                  <mat-icon>edit</mat-icon>
                </button>
                <button mat-icon-button color="primary" [title]="del" (click)="deleteSubject(i)">
                  <mat-icon>delete_forever</mat-icon>
                </button>
              </td>
            </tr>
          </tbody>
          <!-- hanggang dito For loop ng 2nd year 2nd sem container -->
          <thead class="thead-dark">
            <th class="thead-dark">Second Semester</th>
            <tr>
              <th scope="col">Course Code</th>
              <th scope="col">Descriptive Title</th>
              <th scope="col">Lec Units</th>
              <th scope="col">Lab Units</th>
              <th scope="col">Total Units</th>
              <th scope="col">Hours Per Week</th>
              <th scope="col">Pre-Req</th>
              <th scope="col">Co-Req</th>
              <th scope="col">Actions</th>
            </tr>
          </thead>

          <!-- For loop ng 2nd year 2nd sem container -->
          <tbody>
            <tr *ngFor="
                let subjects of firstSem | semyearFilter:'2nd':'2nd';
                let i = index
              " [attr.data-index]="i">
              <th scope="row">{{ subjects.courseCode }}</th>
              <td>{{ subjects.descriptiveTitle }}</td>
              <td>{{ subjects.lecUnits }}</td>
              <td>{{ subjects.labUnits }}</td>
              <td>{{ subjects.totalUnits }}</td>
              <td>{{ subjects.hoursPerWeek }}</td>
              <td>{{ subjects.preReq }}</td>
              <td>{{ subjects.coReq }}</td>
              <td>
                <button mat-icon-button color="primary" [title]="view">
                  <mat-icon>remove_red_eye</mat-icon>
                </button>
                <button mat-icon-button color="primary" [title]="edit" (click)="isEditing(subjects)">
                  <mat-icon>edit</mat-icon>
                </button>
                <button mat-icon-button color="primary" [title]="del" (click)="deleteSubject(i)">
                  <mat-icon>delete_forever</mat-icon>
                </button>
              </td>
            </tr>
          </tbody>
        </table>
        <!-- Hanggang dito yung table -->
      </mat-expansion-panel>
      <!-- 2nd Year ends here -->
      <!-- 3rd Year -->

      <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
        <mat-expansion-panel-header style="background-color: #c0c0c0">
          <mat-panel-title class="panel-text"> Third Year </mat-panel-title>
        </mat-expansion-panel-header>
        <button class="mb-2 mt-2" mat-raised-button color="primary" (click)="add()">
          Add Subject<mat-icon>add</mat-icon>
        </button>

        <!-- Dito yung 3rd year 1st sem table -->
        <table class="table" *ngIf="showTable">
          <thead class="thead-dark">
            <th class="thead-dark">First Semester</th>
            <tr>
              <th scope="col">Course Code</th>
              <th scope="col">Descriptive Title</th>
              <th scope="col">Lec Units</th>
              <th scope="col">Lab Units</th>
              <th scope="col">Total Units</th>
              <th scope="col">Hours Per Week</th>
              <th scope="col">Pre-Req</th>
              <th scope="col">Co-Req</th>
              <th scope="col">Actions</th>
            </tr>
          </thead>

          <!-- For loop ng 3rd year 1st sem container -->
          <tbody>
            <tr *ngFor="
                let subjects of firstSem | semyearFilter:'3rd':'1st';
                let i = index
              " [attr.data-index]="i">
              <th scope="row">{{ subjects.courseCode }}</th>
              <td>{{ subjects.descriptiveTitle }}</td>
              <td>{{ subjects.lecUnits }}</td>
              <td>{{ subjects.labUnits }}</td>
              <td>{{ subjects.totalUnits }}</td>
              <td>{{ subjects.hoursPerWeek }}</td>
              <td>{{ subjects.preReq }}</td>
              <td>{{ subjects.coReq }}</td>
              <td>
                <button mat-icon-button color="primary" [title]="view">
                  <mat-icon>remove_red_eye</mat-icon>
                </button>
                <button mat-icon-button color="primary" [title]="edit" (click)="isEditing(subjects)">
                  <mat-icon>edit</mat-icon>
                </button>
                <button mat-icon-button color="primary" [title]="del" (click)="deleteSubject(i)">
                  <mat-icon>delete_forever</mat-icon>
                </button>
              </td>
            </tr>
          </tbody>
          <!-- hanggang dito For loop ng 3rd year 2nd sem container -->
          <thead class="thead-dark">
            <th class="thead-dark">Second Semester</th>
            <tr>
              <th scope="col">Course Code</th>
              <th scope="col">Descriptive Title</th>
              <th scope="col">Lec Units</th>
              <th scope="col">Lab Units</th>
              <th scope="col">Total Units</th>
              <th scope="col">Hours Per Week</th>
              <th scope="col">Pre-Req</th>
              <th scope="col">Co-Req</th>
              <th scope="col">Actions</th>
            </tr>
          </thead>

          <!-- For loop ng 3rd year 2nd sem container -->
          <tbody>
            <tr *ngFor="
                let subjects of firstSem | semyearFilter:'3rd':'2nd';
                let i = index
              " [attr.data-index]="i">
              <th scope="row">{{ subjects.courseCode }}</th>
              <td>{{ subjects.descriptiveTitle }}</td>
              <td>{{ subjects.lecUnits }}</td>
              <td>{{ subjects.labUnits }}</td>
              <td>{{ subjects.totalUnits }}</td>
              <td>{{ subjects.hoursPerWeek }}</td>
              <td>{{ subjects.preReq }}</td>
              <td>{{ subjects.coReq }}</td>
              <td>
                <button mat-icon-button color="primary" [title]="view">
                  <mat-icon>remove_red_eye</mat-icon>
                </button>
                <button mat-icon-button color="primary" [title]="edit" (click)="isEditing(subjects)">
                  <mat-icon>edit</mat-icon>
                </button>
                <button mat-icon-button color="primary" [title]="del" (click)="deleteSubject(i)">
                  <mat-icon>delete_forever</mat-icon>
                </button>
              </td>
            </tr>
          </tbody>
        </table>
        <!-- Hanggang dito yung table -->
      </mat-expansion-panel>
      <!-- 3rd Year ends here -->
      <!-- 4th Year starts here -->
      <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
        <mat-expansion-panel-header style="background-color: #c0c0c0">
          <mat-panel-title class="panel-text"> Fourth Year </mat-panel-title>
        </mat-expansion-panel-header>
        <button class="mb-2 mt-2" mat-raised-button color="primary" (click)="add()">
          Add Subject<mat-icon>add</mat-icon>
        </button>

        <!-- Dito yung 4th year 1st sem table -->
        <table class="table" *ngIf="showTable">
          <thead class="thead-dark">
            <th class="thead-dark">First Semester</th>
            <tr>
              <th scope="col">Course Code</th>
              <th scope="col">Descriptive Title</th>
              <th scope="col">Lec Units</th>
              <th scope="col">Lab Units</th>
              <th scope="col">Total Units</th>
              <th scope="col">Hours Per Week</th>
              <th scope="col">Pre-Req</th>
              <th scope="col">Co-Req</th>
              <th scope="col">Actions</th>
            </tr>
          </thead>

          <!-- For loop ng 4th year 1st sem container -->
          <tbody>
            <tr *ngFor="
                let subjects of firstSem | semyearFilter:'4th':'1st';
                let i = index
              " [attr.data-index]="i">
              <th scope="row">{{ subjects.courseCode }}</th>
              <td>{{ subjects.descriptiveTitle }}</td>
              <td>{{ subjects.lecUnits }}</td>
              <td>{{ subjects.labUnits }}</td>
              <td>{{ subjects.totalUnits }}</td>
              <td>{{ subjects.hoursPerWeek }}</td>
              <td>{{ subjects.preReq }}</td>
              <td>{{ subjects.coReq }}</td>
              <td>
                <button mat-icon-button color="primary" [title]="view">
                  <mat-icon>remove_red_eye</mat-icon>
                </button>
                <button mat-icon-button color="primary" [title]="edit" (click)="isEditing(subjects)">
                  <mat-icon>edit</mat-icon>
                </button>
                <button mat-icon-button color="primary" [title]="del" (click)="deleteSubject(i)">
                  <mat-icon>delete_forever</mat-icon>
                </button>
              </td>
            </tr>
          </tbody>
          <!-- hanggang dito For loop ng 4th year 2nd sem container -->
          <thead class="thead-dark">
            <th class="thead-dark">Second Semester</th>
            <tr>
              <th scope="col">Course Code</th>
              <th scope="col">Descriptive Title</th>
              <th scope="col">Lec Units</th>
              <th scope="col">Lab Units</th>
              <th scope="col">Total Units</th>
              <th scope="col">Hours Per Week</th>
              <th scope="col">Pre-Req</th>
              <th scope="col">Co-Req</th>
              <th scope="col">Actions</th>
            </tr>
          </thead>

          <!-- For loop ng 4th year 2nd sem container -->
          <tbody>
            <tr *ngFor="
                let subjects of firstSem | semyearFilter:'4th':'2nd';
                let i = index
              " [attr.data-index]="i">
              <th scope="row">{{ subjects.courseCode }}</th>
              <td>{{ subjects.descriptiveTitle }}</td>
              <td>{{ subjects.lecUnits }}</td>
              <td>{{ subjects.labUnits }}</td>
              <td>{{ subjects.totalUnits }}</td>
              <td>{{ subjects.hoursPerWeek }}</td>
              <td>{{ subjects.preReq }}</td>
              <td>{{ subjects.coReq }}</td>
              <td>
                <button mat-icon-button color="primary" [title]="view">
                  <mat-icon>remove_red_eye</mat-icon>
                </button>
                <button mat-icon-button color="primary" [title]="edit" (click)="isEditing(subjects)">
                  <mat-icon>edit</mat-icon>
                </button>
                <button mat-icon-button color="primary" [title]="del" (click)="deleteSubject(i)">
                  <mat-icon>delete_forever</mat-icon>
                </button>
              </td>
            </tr>
          </tbody>
        </table>
        <!-- Hanggang dito yung table -->
      </mat-expansion-panel>
      <!-- 4th year ends here -->
    </mat-accordion>

    <!-- Dito Yung chat container -->
    <div class="chat-container p-3">
      <h2 class="comments">Comments</h2>
      <div class="chat-c">
        <mat-card class="comment-card" *ngFor="let comments of comment">
          <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>

            <mat-card-subtitle>{{ comments.username }}</mat-card-subtitle>
            <mat-card-title>{{ comments.header }}</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <p>{{ comments.feedback }}</p>
          </mat-card-content>
        </mat-card>
      </div>

      <form class="example-form" #commentForm="ngForm" (ngSubmit)="addComment(commentForm)">
        <mat-form-field class="example-full-width">
          <mat-label>username</mat-label>
          <input matInput placeholder="" type="text" name="username" value="Header" ngModel />
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <mat-label>Subject</mat-label>
          <input matInput placeholder="" type="text" name="header" value="Header" ngModel />
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <mat-label>Leave a comment</mat-label>
          <textarea type="text" name="feedback" style="resize: none; height: 80px" matInput
            placeholder="Ex. It makes me feel..." ngModel></textarea>
          <button mat-raised-button color="primary" style="float: right; width: 1px" type="submit">
            <mat-icon>send</mat-icon>
          </button>
        </mat-form-field>
      </form>
    </div>
    <!-- Hanggang Dito Yung chat container -->
  </div>
</div>