<div class="bg-light border shadow rounded overflow-hidden">
  <div class="text-center p-4" style="color: #d05834">
    <mat-icon>create</mat-icon>
    <div>
      <span class="h5">Create Subject</span>
    </div>
  </div>
  <div class="p-4" style="background-color: #e4e4e7">
    <div mat-dialog-content>
      <form
        enctype="multipart/form-data"
        #createSubjectForm="ngForm"
        (submit)="createSubject(createSubjectForm)"
        id="form"
      >
        <mat-form-field class="example-full-width">
          <mat-label>Subject Code</mat-label>
          <input
            matInput
            placeholder="Subject Code"
            name="subjectCode"
            ngModel
          />
        </mat-form-field>
        <mat-form-field class="example-full-width" name="description" ngMode>
          <mat-label>Description</mat-label>
          <input
            matInput
            placeholder="Description"
            name="description"
            ngModel
          />
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>Department</mat-label>
          <mat-select name="departmentId" ngModel="1">
            <mat-option
              *ngFor="let department of departments"
              [value]="department.id"
              >{{ department.department_code | uppercase }}</mat-option
            >
            <mat-option value=""> None </mat-option>
          </mat-select>
        </mat-form-field>

        <!-- <input type="text"> -->

        <!-- <button
        type="button"
        mat-raised-button
        (click)="fileInput.click()"
        color="primary"
      >
        Choose File
      </button> -->

        <input
          name="syllabus"
          #fileInput
          type="file"
          (change)="onFileSelected($event)"
          ngModel
          class="form-control mb-2"
        />
      </form>
      <app-notification
        class="mt-3"
        *ngIf="error$ | async as errorMessage"
        [message]="errorMessage"
        type="error"
        (close)="closeAlert()"
      >
      </app-notification>
      <app-notification
        class="mt-2"
        *ngIf="success$ | async as message"
        [message]="message"
        type="success"
        (close)="closeSuccessAlert()"
      >
      </app-notification>
      <!-- <div class="text-danger" *ngIf="error$ | async as errorMessage">
      {{ errorMessage }}
    </div> -->
    </div>
    <div
      mat-dialog-actions
      class="d-flex align-items-center justify-content-center"
    >
      <button
        mat-flat-button
        type="submit"
        form="form"
        color="primary"
        class="text-light"
        style="background-color: #d05834"
      >
        Submit
      </button>
      <button mat-button class="shadow-sm" (click)="onCancel()">Cancel</button>
      <!-- <button mat-button [mat-dialog-close]="data.animal" cdkFocusInitial>Ok</button> -->
    </div>
  </div>
</div>

<!-- #createSubjectForm="ngForm" -->
