<div class="container">
  <div class="inside">
    <div class="this-element">
      <span class="title">CICT Curriculum ver. 3.2.1 (CICT)</span>
      <div
        class="status bg-success"
        style="margin-left: 30px; margin-right: 20px"
      >
        For Revision
      </div>
      <div class="status bg-warning">For Revision</div>
    </div>
    <button
      mat-raised-button
      color="primary"
      style="float: right; right: 230px"
    >
      Print <mat-icon>printer</mat-icon>
    </button>
    <h3>Kervin Robb Pagtalunan</h3>
    <h3>10-20-25</h3>
  </div>

  <div class="bottom">
    <mat-accordion>
      <mat-expansion-panel
        (opened)="panelOpenState = true"
        (closed)="panelOpenState = false"
        *ngFor="let subjects of subject; let x = index"
      >
        <mat-expansion-panel-header style="background-color: #c0c0c0">
          <mat-panel-title class="panel-text">{{assignYearX(x)}} Year</mat-panel-title>
        </mat-expansion-panel-header>
        <div class="firstSem">
          <button
            class="mb-2 mt-2"
            mat-raised-button
            color="primary"
            (click)="clickAddSubject(x, 'firstSem')"
          >
            Add Subject<mat-icon>add</mat-icon>
          </button><br>
          <thead *ngIf="isAddFormShow[x][0]">  
            <tr>
            <td style="padding-right:20px;"><strong>Add Subject</strong></td>
            <td colspan="8" class="forms">
              <form
                #firstSemesterForm="ngForm"
                (ngSubmit)="addSubject(firstSemesterForm, x, 'firstSem')"
              >
                <mat-form-field class="subject-input" style="width: 80px"
                  ><input
                    name="courseCode"
                    matInput
                    type="text"
                    placeholder="Course Code"
                    ngModel
                    required
                /></mat-form-field>
                <mat-form-field class="subject-input" style="width: 140px"
                  ><input
                    name="descriptiveTitle"
                    matInput
                    type="text"
                    placeholder="Descriptive Title"
                    ngModel
                    required
                /></mat-form-field>

                <mat-form-field class="subject-input" style="width: 60px"
                  ><input
                    name="lecUnits"
                    matInput
                    type="text"
                    placeholder="Lec Units"
                    ngModel
                    required
                /></mat-form-field>

                <mat-form-field class="subject-input" style="width: 60px"
                  ><input
                    name="labUnits"
                    matInput
                    type="text"
                    placeholder="Lab Units"
                    ngModel
                    required
                /></mat-form-field>

                <mat-form-field class="subject-input" style="width: 60px"
                  ><input
                    name="totalUnits"
                    matInput
                    type="text"
                    placeholder="Total Units"
                    ngModel
                    required
                /></mat-form-field>

                <mat-form-field class="subject-input" style="width: 90px"
                  ><input
                    name="hoursPerWeek"
                    matInput
                    type="text"
                    placeholder="Hours Per Week"
                    ngModel
                    required
                /></mat-form-field>

                <mat-form-field class="subject-input" style="width: 80px" >
                  <mat-label>Pre-Requisite</mat-label><mat-select
                  name="preReq"
                  color="primary"
                  style="margin-right: 20px"
                  ngModel
                ><div *ngFor="let subjects of subject "></div>
                  <mat-option *ngFor="let course of subjects.firstSem; let i = index" [value]="course.courseCode"> {{ course.courseCode }}</mat-option>
                </mat-select>
              </mat-form-field>

                <mat-form-field class="subject-input" style="width: 80px"
                  ><mat-label>Co-Requisite</mat-label><mat-select
                  name="coReq"
                  color="primary"
                  style="margin-right: 20px"
                  ngModel
                ><div *ngFor="let subjects of subject"></div>
                  <mat-option *ngFor="let course of subjects.firstSem; let i = index" [value]="course.courseCode">{{ course.courseCode }}</mat-option>
                </mat-select>
              </mat-form-field>

                <button
                  mat-icon-button
                  color="primary"
                  [title]="includeSubjectText"
                  type="submit"
                >
                  <mat-icon>add</mat-icon>
                </button>
                <button
                  mat-icon-button
                  color="primary"
                  [title]="cancelAddSubject"
                  type="button"
                  (click)="removeAddForm(x, 'firstSem')"
                >
                  <mat-icon>close</mat-icon>
                </button>
              </form>
            </td>
          </tr>
        </thead>

        <thead *ngIf="isEditFormShow[x]['firstSem']">
          <tr>
            <td style="margin-right: 20px;"><strong>Edit Subject</strong></td>
            <td colspan="8" style="margin-right:50px;" class="forms">
              <form
                #editForm="ngForm"
                (ngSubmit)="editCourse(editForm, x, 'firstSem')"
                
              >
                <mat-form-field class="subject-input" style="width: 80px"
                  ><input
                    name="courseCode"
                    matInput
                    type="text"
                    placeholder="Course Code"
                    [(ngModel)]="isForms[x]['firstSem'].courseCode"
                    required
                /></mat-form-field>

                <mat-form-field class="subject-input" style="width: 140px"
                  ><input
                    name="descriptiveTitle"
                    matInput
                    type="text"
                    placeholder="Descriptive Title"
                    [(ngModel)]="isForms[x]['firstSem'].descriptiveTitle"
                    required
                /></mat-form-field>

                <mat-form-field class="subject-input" style="width: 60px"
                  ><input
                    name="lecUnits"
                    matInput
                    type="text"
                    placeholder="Lec Units"
                    [(ngModel)]="isForms[x]['firstSem'].lecUnits"
                    required
                /></mat-form-field>

                <mat-form-field class="subject-input" style="width: 60px"
                  ><input
                    name="labUnits"
                    matInput
                    type="text"
                    placeholder="Lab Units"
                    [(ngModel)]="isForms[x]['firstSem'].labUnits"
                    required
                /></mat-form-field>

                <mat-form-field class="subject-input" style="width: 60px"
                  ><input
                    name="totalUnits"
                    matInput
                    type="text"
                    placeholder="Total Units"
                    [(ngModel)]="isForms[x]['firstSem'].totalUnits"
                    required
                /></mat-form-field>

                <mat-form-field class="subject-input" style="width: 90px"
                  ><input
                    name="hoursPerWeek"
                    matInput
                    type="text"
                    placeholder="Hours Per Week"
                    [(ngModel)]="isForms[x]['firstSem'].hoursPerWeek"
                    required
                /></mat-form-field>

                <mat-form-field class="subject-input" style="width: 80px"
                  ><input
                    name="preReq"
                    matInput
                    type="text"
                    placeholder="Pre-Requisites"
                    [(ngModel)]="isForms[x]['firstSem'].preReq"
                    required
                /></mat-form-field>

                <mat-form-field class="subject-input" style="width: 80px"
                  ><mat-label>Co-Requisite</mat-label><mat-select
                  name="dep"
                  color="primary"
                  style="margin-right: 20px"
                  ngModel
                ><div *ngFor="let subjects of subject"></div>
                  <mat-option *ngFor="let course of subjects.firstSem; let i = index" [value]="course.courseCode">{{ course.courseCode }}</mat-option>
                </mat-select>
              </mat-form-field>

                <button
                  mat-icon-button
                  color="primary"
                  [title]="includeSubjectText"
                  type="submit"
                >
                  <mat-icon>check</mat-icon>
                </button>
                <button
                  mat-icon-button
                  color="primary"
                  [title]="cancelAddSubject"
                  type="button"
                  (click)="cancelEditSub(x, 'firstSem')"
                >
                  <mat-icon>close</mat-icon>
                </button>
              </form>
            </td>
          </tr>

        </thead>
          <strong>First Semester</strong>
          <table class="table">
            <thead class="thead-dark">
              <tr>
                <th scope="col">Course Code</th>
                <th scope="col">Descriptive Title</th>
                <th scope="col">Lec Units</th>
                <th scope="col">Lab Units</th>
                <th scope="col">Total Units</th>
                <th scope="col">Hours Per Week</th>
                <th scope="col">Pre-Req</th>
                <th scope="col">Co-Req</th>
                <th scope="col">Actions</th>
              </tr>
            </thead>
            <tbody>
              

              <tr *ngFor="let subjects of subject"></tr>
              <tr *ngFor="let course of subjects.firstSem; let i = index">
                <td scope="row">{{ course.courseCode }}</td>
                <td>{{ course.descriptiveTitle }}</td>
                <td>{{ course.lecUnits }}</td>
                <td>{{ course.labUnits }}</td>
                <td>{{ course.totalUnits }}</td>
                <td>{{ course.hoursPerWeek }}</td>
                <td>{{ course.preReq }}</td>
                <td>{{ course.coReq }}</td>
                <td>
                  <button mat-icon-button color="primary" [title]="view">
                    <mat-icon>remove_red_eye</mat-icon>
                  </button>
                  <button
                    mat-icon-button
                    color="primary"
                    [title]="edit"
                    (click)="selectCourse(course, x, i, 'firstSem')"
                  >
                    <mat-icon>edit</mat-icon>
                  </button>
                  <button
                    mat-icon-button
                    color="primary"
                    [title]="del"
                    (click)="deleteCourse(x, i, 'firstSem')"
                  >
                    <mat-icon>delete_forever</mat-icon>
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>

        <div class="secondSem">
          <button
            class="mb-2 mt-2"
            mat-raised-button
            color="primary"
            (click)="clickAddSubject(x, 'secondSem')"
          >
            Add Subject<mat-icon>add</mat-icon>
          </button><br>



          <thead *ngIf="isAddFormShow[x][1]">
            <tr>
              <td style="padding-right:20px;"><strong>Add Subject</strong></td>
            <td colspan="8" class="forms">
              <form
                #secondSemesterForm="ngForm"
                (ngSubmit)="addSubject(secondSemesterForm, x, 'secondSem')"
              >
                <mat-form-field class="subject-input" style="width: 80px"
                  ><input
                    name="courseCode"
                    matInput
                    type="text"
                    placeholder="Course Code"
                    ngModel
                    required
                /></mat-form-field>
                <mat-form-field class="subject-input" style="width: 140px"
                  ><input
                    name="descriptiveTitle"
                    matInput
                    type="text"
                    placeholder="Descriptive Title"
                    ngModel
                    required
                /></mat-form-field>

                <mat-form-field class="subject-input" style="width: 60px"
                  ><input
                    name="lecUnits"
                    matInput
                    type="text"
                    placeholder="Lec Units"
                    ngModel
                    required
                /></mat-form-field>

                <mat-form-field class="subject-input" style="width: 60px"
                  ><input
                    name="labUnits"
                    matInput
                    type="text"
                    placeholder="Lab Units"
                    ngModel
                    required
                /></mat-form-field>

                <mat-form-field class="subject-input" style="width: 60px"
                  ><input
                    name="totalUnits"
                    matInput
                    type="text"
                    placeholder="Total Units"
                    ngModel
                    required
                /></mat-form-field>

                <mat-form-field class="subject-input" style="width: 90px"
                  ><input
                    name="hoursPerWeek"
                    matInput
                    type="text"
                    placeholder="Hours Per Week"
                    ngModel
                    required
                /></mat-form-field>

                <mat-form-field class="subject-input" style="width: 80px"
                  ><input
                    name="preReq"
                    matInput
                    type="text"
                    placeholder="Pre-Requisites"
                    ngModel
                    required
                /></mat-form-field>

                <mat-form-field class="subject-input" style="width: 80px"
                  ><input
                    name="coReq"
                    matInput
                    type="text"
                    placeholder="Co-Requisites"
                    ngModel
                    required
                /></mat-form-field>

                <button
                  mat-icon-button
                  color="primary"
                  [title]="includeSubjectText"
                  type="submit"
                >
                  <mat-icon>add</mat-icon>
                </button>
                <button
                  mat-icon-button
                  color="primary"
                  [title]="cancelAddSubject"
                  type="button"
                  (click)="removeAddForm(x, 'secondSem')"
                >
                  <mat-icon>close</mat-icon>
                </button>
              </form>
            </td>
          </tr>
        </thead>

        <thead>
          <tr>
            <td style="padding-right:20px;"><span>Edit Subject</span></td>
          <td colspan="8" class="forms">
            <form
              #editForm="ngForm"
              (ngSubmit)="editCourse(editForm, x, 'secondSem')"
              *ngIf="isEditFormShow[x]['secondSem']"
            >
              <mat-form-field class="subject-input" style="width: 80px"
                ><input
                  name="courseCode"
                  matInput
                  type="text"
                  placeholder="Course Code"
                  [(ngModel)]="isForms[x]['secondSem'].courseCode"
                  required
              /></mat-form-field>
        
              <mat-form-field class="subject-input" style="width: 140px"
                ><input
                  name="descriptiveTitle"
                  matInput
                  type="text"
                  placeholder="Descriptive Title"
                  [(ngModel)]="isForms[x]['secondSem'].descriptiveTitle"
                  required
              /></mat-form-field>
        
              <mat-form-field class="subject-input" style="width: 60px"
                ><input
                  name="lecUnits"
                  matInput
                  type="text"
                  placeholder="Lec Units"
                  [(ngModel)]="isForms[x]['secondSem'].lecUnits"
                  required
              /></mat-form-field>
        
              <mat-form-field class="subject-input" style="width: 60px"
                ><input
                  name="labUnits"
                  matInput
                  type="text"
                  placeholder="Lab Units"
                  [(ngModel)]="isForms[x]['secondSem'].labUnits"
                  required
              /></mat-form-field>
        
              <mat-form-field class="subject-input" style="width: 60px"
                ><input
                  name="totalUnits"
                  matInput
                  type="text"
                  placeholder="Total Units"
                  [(ngModel)]="isForms[x]['secondSem'].totalUnits"
                  required
              /></mat-form-field>
        
              <mat-form-field class="subject-input" style="width: 90px"
                ><input
                  name="hoursPerWeek"
                  matInput
                  type="text"
                  placeholder="Hours Per Week"
                  [(ngModel)]="isForms[x]['secondSem'].hoursPerWeek"
                  required
              /></mat-form-field>
        
              <mat-form-field class="subject-input" style="width: 80px"
                ><input
                  name="preReq"
                  matInput
                  type="text"
                  placeholder="Pre-Requisites"
                  [(ngModel)]="isForms[x]['secondSem'].preReq"
                  required
              /></mat-form-field>
        
              <mat-form-field class="subject-input" style="width: 80px"
                ><input
                  name="coReq"
                  matInput
                  type="text"
                  placeholder="Co-Requisites"
                  [(ngModel)]="isForms[x]['secondSem'].coReq"
                  required
              /></mat-form-field>
        
              <button
                mat-icon-button
                color="primary"
                [title]="includeSubjectText"
                type="submit"
              >
                <mat-icon>check</mat-icon>
              </button>
              <button
                mat-icon-button
                color="primary"
                [title]="cancelAddSubject"
                type="button"
                (click)="cancelEditSub(x, 'secondSem')"
              >
                <mat-icon>close</mat-icon>
              </button>
            </form>
          </td>
        </tr>
        </thead>
        

          <strong>Second Semester</strong>
          <table class="table">
            <thead class="thead-dark">
              <tr>
                <th scope="col">Course Code</th>
                <th scope="col">Descriptive Title</th>
                <th scope="col">Lec Units</th>
                <th scope="col">Lab Units</th>
                <th scope="col">Total Units</th>
                <th scope="col">Hours Per Week</th>
                <th scope="col">Pre-Req</th>
                <th scope="col">Co-Req</th>
                <th scope="col">Actions</th>
              </tr>
            </thead>
            <tbody>



              <tr *ngFor="let subjects of subject"></tr>
              <tr *ngFor="let course of subjects.secondSem; let i = index">
                <td scope="row">{{ course.courseCode }}</td>
                <td>{{ course.descriptiveTitle }}</td>
                <td>{{ course.lecUnits }}</td>
                <td>{{ course.labUnits }}</td>
                <td>{{ course.totalUnits }}</td>
                <td>{{ course.hoursPerWeek }}</td>
                <td>{{ course.preReq }}</td>
                <td>{{ course.coReq }}</td>
                <td>
                  <button mat-icon-button color="primary" [title]="view">
                    <mat-icon>remove_red_eye</mat-icon>
                  </button>
                  <button
                    mat-icon-button
                    color="primary"
                    [title]="edit"
                    (click)="selectCourse(course, x, i, 'secondSem')"
                  >
                    <mat-icon>edit</mat-icon>
                  </button>
                  <button
                    mat-icon-button
                    color="primary"
                    [title]="del"
                    (click)="deleteCourse(x, i, 'secondSem')"
                  >
                    <mat-icon>delete_forever</mat-icon>
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <!-- Hanggang dito yung table -->
      </mat-expansion-panel>
      <!-- End of first Year Year -->
    </mat-accordion>

    <!-- Dito Yung chat container -->
    <div class="chat-container p-3">
      <h2 class="comments">Comments</h2>
      <div class="chat-c">
        <mat-card class="comment-card" *ngFor="let comments of comment">
          <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>

            <mat-card-subtitle>{{ comments.username }}</mat-card-subtitle>
            <mat-card-title>{{ comments.header }}</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <p>{{ comments.feedback }}</p>
          </mat-card-content>
        </mat-card>
      </div>

      <form
        class="example-form"
        #commentForm="ngForm"
        (ngSubmit)="addComment(commentForm)"
      >
        <mat-form-field class="example-full-width">
          <mat-label>username</mat-label>
          <input
            matInput
            placeholder=""
            type="text"
            name="username"
            value="Header"
            ngModel
          />
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <mat-label>Subject</mat-label>
          <input
            matInput
            placeholder=""
            type="text"
            name="header"
            value="Header"
            ngModel
          />
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <mat-label>Leave a comment</mat-label>
          <textarea
            type="text"
            name="feedback"
            style="resize: none; height: 80px"
            matInput
            placeholder="Ex. It makes me feel..."
            ngModel
          ></textarea>
          <button
            mat-raised-button
            color="primary"
            style="float: right; width: 1px"
            type="submit"
          >
            <mat-icon>send</mat-icon>
          </button>
        </mat-form-field>
      </form>
    </div>
    <!-- Hanggang Dito Yung chat container -->
  </div>
</div>
