<div
  class="container"
  *ngIf="(curriculum$ | async) && (currentUser$ | async) && canEdit()"
>
  <div class="row">
    <div class="col-xl-9">
      <app-year-dropdown
        [buttonTxt]="buttonTxt"
        [subject]="subjects"
        [type]="type"
        [title]="title"
        [curriculum]="curriculum"
        [author]="author"
        [descriptiveTitle]="descriptiveTitle"
        [action]="action"
        [status]="status"
        (submitCur)="submit($event)"
      ></app-year-dropdown>
    </div>
    <div class="col-xl-3">
      <app-comments [comments]="comments"></app-comments>
    </div>
  </div>
</div>
<app-not-allowed *ngIf="!canEdit()"></app-not-allowed>
