<app-sidenav>
  <!-- <mat-grid-list cols="4" rowHeight="1:0.5" class="grid">
    <mat-grid-tile class="tile">
      <h3>
        Current Curriculum Version <br />
        <br />
        <span>{{ currentVersion }}</span>
      </h3>
    </mat-grid-tile>
    <mat-grid-tile class="tile">
      <h3>
        Version in Revision <br />
        <br />
        <span>{{ inRevision }}</span>
      </h3>
    </mat-grid-tile>
    <mat-grid-tile class="tile">
      <h3>
        Date Today<br />
        <br />
        <span>{{ currentVersion }}</span>
      </h3></mat-grid-tile
    >
    <mat-grid-tile class="tile" rowspan="3"> </mat-grid-tile>
    <mat-grid-tile class="tile" colspan="2" rowspan="2"
      ><div class="lineChart" [chart]="lineChart2"></div
    ></mat-grid-tile>
    <mat-grid-tile class="tile" colspan="1" rowspan="2"
      ><div class="pieChart" [chart]="pieChart"></div
    ></mat-grid-tile>
  </mat-grid-list> -->
  <!-- <div class="container" style="width:80%; padding:30px;">
    <header><h2>Dashboard</h2></header>
<header><h1>Good day,     <b>Mr. Keno Piad</b>!</h1></header>
    <div class="row">
        <div class="col-sm-8 col-md-8">
          <div class="row">
            <div class="user d-flex">
            <div class="cur">
              <header>CICT BSIT Curriculum version 1.00 <button mat-icon-button><mat-icon color="primary">remove_red_eye</mat-icon></button></header>
          <h5>Juan Dela Cruz</h5>
          <h5>04-03-00 </h5>
              </div>
              <div class="cur">
                <header>CICT BSIT Curriculum version 1.00 <button mat-icon-button><mat-icon color="primary">remove_red_eye</mat-icon></button></header>
            <h5>Juan Dela Cruz</h5>
            <h5>04-03-00 </h5>
                </div>
            </div></div>
          
          
        <div class="row">
  
          <div class="user col-sm-4 col-md-4">
            <header>Total Users</header>
          <span style="font-size: 40px;">30</span>
          </div>
  
          <div class="user col-sm-8 col-md-8 ">
            <div style="display: flex;">
            <div>
              <header>Admin</header>
          <span style="font-size: 40px; margin-right:50px;">30</span>
        </div>
        <div>
          <header>Reviewers</header>
      <span style="font-size: 40px; margin-right:50px;">30</span>
    </div>
    <div>
      <header>Chair</header>
  <span style="font-size: 40px; margin-right:50px;">30</span>
</div>
<div>
  <header>Faculty</header>
<span style="font-size: 40px; margin-right:50px;">30</span>
</div>
</div> 
          </div>

        </div>
        <div class="row">
  
          <div class="user col-sm-4 col-md-4 ml-md-auto">
            <header>Total Users</header>
          <span style="font-size: 40px;">30</span>
          </div>
  
          <div class="user col-sm-8 col-md-8 ">
            <div style="display: flex;">
            <div>
              <header>Admin</header>
          <span style="font-size: 40px; margin-right:50px;">30</span>
        </div>
        <div>
          <header>Reviewers</header>
      <span style="font-size: 40px; margin-right:50px;">30</span>
    </div>
    <div>
      <header>Chair</header>
  <span style="font-size: 40px; margin-right:50px;">30</span>
</div>
<div>
  <header>Faculty</header>
<span style="font-size: 40px; margin-right:50px;">30</span>
</div>
</div> 
          </div>
        </div>
        </div>
        
      <div class="col-sm-4 col-md-4">
        <div class="comments">Comments</div>
      </div>
    </div>
    

  </div> -->
  <div class="container" style="width: 80%; padding: 30px; background-color:white;">
    <!-- <div class="mb-3">
      <header><h2>Dashboard</h2></header>
      <header>
        <h1>Good day, <b>Mr. Keno Piad</b>!</h1>
      </header>
    </div>
    <div class="row">
      <div class="col-sm">
        <div class="row">
          
          <div class="num col-sm">

          <header>Pending Curriculums</header>
        <span style="font-size: 30px;">5</span>

      </div>

      <div class="num col-sm">
        <header>Pending Revisions</header>
      <span style="font-size: 30px;">5</span>
    </div>
    
    </div>

    <div class="row">
          
      <div class="num col-sm">
        <span style="font-size: 30px;">5</span>
      <header>Active Curriculums</header>
    
  </div>
  <div class="num col-sm">
    <header>Approved Revisions</header>
  <span style="font-size: 30px;">5</span>
</div>

</div>
        
        
      </div>
      <div class="chart col-sm">
        <div class="pieChart" [chart]="pieChart"></div>
      </div>
      </div>

    <div class="row">
      <div class="user col-sm" style="margin-right: 10px;">
        <header>Latest Submitted Revision</header>
        <div>
          <header>
            CICT Curriculum 1.3.2
            <button mat-icon-button>
              <mat-icon color="primary">remove_red_eye</mat-icon>
            </button>
          </header>
          <h5>Juan Dela Cruz</h5>
          <h5>04-03-00</h5>
        </div>

      </div>
      <div class="user col-sm" style="margin-right: 10px;">

        <header>Latest Approved Revision</header>
        <div>
          <header>
            CICT Curriculum 1.3.2
            <button mat-icon-button>
              <mat-icon color="primary">remove_red_eye</mat-icon>
            </button>
          </header>
          <h5>Juan Dela Cruz</h5>
          <h5>04-03-00</h5>
        </div>
        
      </div>
    </div>
    <div class="row">
      <div class="comments col-sm"><header>Latest Comments</header>
      </div>
    </div> -->

    <mat-card>
      <mat-card-content>
        <p>
          
        </p>
      </mat-card-content>
      <mat-card-header>
        <div mat-card-avatar></div>
        <mat-card-title>Shiba Inu</mat-card-title>
      </mat-card-header>
    </mat-card>

    <mat-card>
      <mat-card-content>
        <p>
          
        </p>
      </mat-card-content>
      <mat-card-header>
        <div mat-card-avatar></div>
        <mat-card-title>Shiba Inu</mat-card-title>
      </mat-card-header>
    </mat-card>
  </div>
</app-sidenav>
