*{
    font-family: 'century gothic';
}
.tile{
    background-color: white;
    border-radius: 2rem;
    box-shadow: 2px 2px 2px black;
    text-align: center;
}
.grid{
    margin: 30px !important;
}

h3{
    font-size: 20px;
    font-weight: 100;
}
/* span{
    font-weight: bold;
    font-size: 50px;
} */
.pageTitle{
    margin-left: 30px;
    margin-top: 15px;
}
.user{
    height: 180px;
    background-color: white;
    padding: 30px;
    border-radius: 1rem;
    box-shadow: 1px 1px 1px 0.5px black;
}
.comments{
    height: 525px;
    background-color: white;
    border-radius: 1rem;
    padding: 30px;
    box-shadow: 1px 1px 1px 0.5px black;
    /* width: 300px; */
}
.row{
    padding-top: 10px;
}
.cur{
    box-shadow: 1px 1px 1px 0.5px black;
    padding: 30px;
    border-radius: 1rem;
}
.num{
    height: 300px;
    background-color: white;
    padding: 30px;
    border-radius: 1rem;
    box-shadow: 1px 1px 1px 0.5px black;
}
