<div class="container" *ngIf="curriculum$ | async">
  <div class="row">
    <div class="col-xl-9">
      <app-year-dropdown
        [subject]="subjects"
        [type]="type"
        [title]="title"
        [curriculum]="curriculum"
        [status]="status"
        [created_at]="created_at"
        [author]="author"
        (editCur)="edit()"
        (approveCur)="approve()"
        (reviseCur)="revise()"
      ></app-year-dropdown>
    </div>
    <div class="col-xl-3">
      <app-comments
        [type]="type"
        [comments]="comments"
        (addComment)="addComment($event)"
      ></app-comments>
    </div>
  </div>
</div>
