
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.
// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

$ccs-custom-theme:(
  50: #f8e7e8,
 100: #edc4c3,
 200: #d08d84,
 300: #b96457,
 400:#ba4831,
 500:#b63a13,
 600:#a93214,
 700:#992a10,
 800: #8d240a,
 900: #7d1d00,
 // ... continues to 900
 contrast: (
  50: #3c3c3c,
  100: #606060,
  200: #818181,
  300: #979797,
  400: white,
  500: white,
  600: white, 
  700: white,
  800: white,
  900: white,
   // ... continues to 900
 )
);
// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$cict-curriculum-system-primary: mat.define-palette($ccs-custom-theme);
$cict-curriculum-system-accent: mat.define-palette(mat.$pink-palette);

// The warn palette is optional (defaults to red).
$cict-curriculum-system-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$cict-curriculum-system-theme: mat.define-light-theme((
  color: (
    primary: $cict-curriculum-system-primary,
    accent: $cict-curriculum-system-accent,
    warn: $cict-curriculum-system-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($cict-curriculum-system-theme);


