
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.
// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

$ccs-custom-theme:(
  50: #f8ebe9,
 100: #fbd0c4,
 200: #f9b39e,
 300: #f89677,
 400:#f8805a,
 500:#f86c40,
 600:#ed663c,
 700:#df5f37,
 800: #d05834,
 900: #b54e2e,
 // ... continues to 900
 contrast: (
   50: white,
   100: white,
   200: white,
   300: white,
   400: white,
   500: white,
   600: white,
   700: white,
   800: white,
   900: white,
   // ... continues to 900
 )
);
// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$cict-curriculum-system-primary: mat.define-palette($ccs-custom-theme);
$cict-curriculum-system-accent: mat.define-palette(mat.$pink-palette);

// The warn palette is optional (defaults to red).
$cict-curriculum-system-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$cict-curriculum-system-theme: mat.define-light-theme((
  color: (
    primary: $cict-curriculum-system-primary,
    accent: $cict-curriculum-system-accent,
    warn: $cict-curriculum-system-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($cict-curriculum-system-theme);


